<header>
	<a href="/"><img src="/assets/img/logo.svg" alt="website logo" /></a>
	<nav>
		<ul>
			<li><a href="/">Study Journal</a></li>
			<li><a href="#">Notes</a></li>
			<li><a href="#">Homework</a></li>
			<li><a href="/by-author.html">By Author</a></li>
		</ul>
	</nav>
</header>
